$color_1: rgb(235, 46, 46)
$color_2: rgb(160, 46, 46)
$color_3: rgba(153, 235, 46, 0.699)
$color_4: rgb(235, 46, 46)
$color_5: rgb(25, 84, 161)
#para1{
    background-color: $color_1;
}
#para2{
    background-color: $color_2
}
backg

$color_2: 

$default-width:200px;

$color:rgb(173, 58, 58);

.edureka{

    background-color: $color;

    height: $default-width;

    width:$default-width*2;

    padding:$default-width/20;

    margin:$default-width/40;

}